body {
	font-family: sans-serif;
	font-size: 10px;
}

#status_display {
	padding: 3px;
	background-color: #aaa;
	text-transform: uppercase;
	max-width: 714px;
}

#status_display span {
	display: inline-block;
	vertical-align: top;
	padding: 3px;
}

#status_display .player_name {
	font-weight: bold;
	min-width: 150px;
	padding: 0px;
}

#status_display .hitpoints {
	background-color: black;
	color: #aaa;
	min-width: 100px;
	text-align: center;
	letter-spacing: 2px;
}

#status_display .hitpoints .low {
	color: #99f;
}

#status_display .gold {
	background-color: #aa0;
}

#msg_display {
	width: 360px;
	min-width: 360px;
	min-height: 100px;
	float: left;
}
.levelup {
	display: inline-block;
	font-weight: bold;
	color: white;
	background-color: black;
	padding: 0px 10px;
	white-space: nowrap;
}
#fov_display {
	width: 360px;
	background-color: grey;
	float: left;
}
#fov_display .fov_item {
	float: left;
	background-size: cover;
	height: 150px;
	border: 1px solid black;
}

#fov_display .fov_item span {
	display: inline-block;
	background-color: black;
	color: white;
	padding: 5px;
}
